.navbar-current-page-title {
    padding: 7px 7px 7px 14px;
}

.dropdown-menu a {
    cursor: pointer;
}

.alert ul {
    margin-bottom: 0px;
}

.navbar-main {
    display: flex;
}

.navbar-search {
    flex: 1
}

.search-form {
    margin-right: 7px;
    margin-top: 7px;
    margin-left: 14px;
    float: right;
}