.membership-container {
    margin-top: 25px;
    margin-bottom: 35px;
}

input.form-control.list-package-cell.list-package-months {
    width: 45px;
}

input.form-control.list-package-cell.list-package-numberOfSessions {
    width: 50px;
}

input.form-control.list-package-cell.list-package-price {
    width: 88px;
}

.btn-package {
    margin-right: 4px;
}

.col-edit-membership {
    padding-right: 0px;
    padding-left: 0px;
    width: 5%;
}

.list-package-has-error {
    border-color: #dd4b39 !important;
    box-shadow: none !important;
}

@media screen and (max-width: 480px) {
    .col-edit-membership {
        width: 14%;
    }
}
