.mistake-event {
    padding: 7px;
    color: white;
    width: 100%;
}

.mistake-event-q3 {
    background-color: #007BFF;
}

.mistake-event-pn {
    background-color: #fd7e14;
}

.header-calendar-control .calendar-create-schedule,
.header-calendar-control .calendar-remaining-sessions-area {
    float: right;
}

.content-header h1 {
    margin: 0;
    font-size: 24px;
}

@media screen and (min-width: 1023px) {
    .calendar-head {
        width: 13.4%;
    }

    .header-calendar-control .calendar-create-schedule,
    .header-calendar-control .calendar-remaining-sessions-area {
        display: none;
    }
}

@media screen and (max-width: 1023px) {
    .content-header h1 {
        margin-top: 4px;
    }

    .calendar-create-schedule span {
        display: none;
    }

    .calendar-control .calendar-create-schedule,
    .calendar-control .calendar-remaining-sessions-area {
        display: none;
    }

    .calendar-control-current-week {
        display: none;
    }

    .calendar-day-selector {
        margin-left: auto;
        margin-right: auto;
    }

    button#next, button#prev {
        padding: 6px;
    }

    .btn-calendar-navigate {
        background-color: transparent;
    }

    .btn-switch-view {
        display: none;
    }
}

@media screen and (max-width: 351px) {
    .calendar-day-selector {
        position: relative;
        left: 4px;
    }

    button#next, button#prev {
        font-size: 9px;
        padding: 10px 0px;
    }

    button#prev {
        margin-right: 6px;
    }
    
    button#next {
        margin-left: 5px;
    }
}

#calendarBody tr td:first-child {
    text-align: center;
}

.btn-switch-view {
    margin-left: auto;
}

.calendar-remaining-sessions-area {
    display: flex;
    margin-left: auto;
}

.calendar-remaining-sessions {
    font-size: 24px;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: 10px;
    background-color: #00a65a;
    color: white;
    border-radius: 4px;
}

.calendar-remaining-sessions-desc {
    width: 42px;
    font-size: 12px;
}

.calendar-remaining-sessions-desc p {
    margin-bottom: 0px;
}

.mistake-event-class {
    font-weight: bold;
    margin-bottom: 0px;
    max-width: 130px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.mistake-event-label-new {
    position: relative;
    top: -2px;
    margin-right: 4px;
    font-size: 10px;
    padding: 0.1em 0.4em 0.1em;
    border: 0.25px dashed white;
    background-color: #ffd715;
}

.mistake-event-song {
    height: 3em;
    margin-bottom: 0px;
    font-size: 12px;
}

.mistake-event-info {
    margin-right: 5px;
    font-size: 12px;
}

.mistake-event-action {
    margin-top: 6px;
}

.mistake-event-action button {
    border: none;
    padding: 0px 10px;
}

#calendar th, #calendar td {
    border: 1px solid #DDDDDD;
}

.calendar-control {
    padding: 10px;
    display: flex;
}

.calendar-control-current-week {
    margin-left: 10px;
    font-size: 24px;
}

.btn-date {
    border-radius: 100% !important;
    padding: 6px;
    width: 34px;
}

.btn-date.active {
    color: #fff;
    background-color: #449d44;
    border-color: #398439;
}

.calendar-control-current-week-detail .btn.active:focus {
    outline-offset: 0px;
    outline: none;
    box-shadow: none;
}

.calendar-control-current-week-detail .btn.focus {
    outline-offset: 0px;
    outline: none;
    box-shadow: none;
}

.calendar-today {
    background-color: #ECF0F5;
}

button#next {
    border-left: 1px solid white;
    border-radius: 50%;
    margin-left: 5px;
}

button#prev {
    border-radius: 50%;
    margin-right: 5px;
}

.modal-body-message {
    font-weight: bold;
}

.modal-body-remaining-sessions {
    font-weight: bold;
    padding: 0px 4px;
    background-color: #00a65a;
    color: white;
}

.cell-admin-add-schedule {
    text-align: center;
    vertical-align: middle;
    background-color: #EFF0F1;
    color: black;
    cursor: pointer;
}

.session-registration-header {
    position: relative;
}

.session-info {
    font-weight: bold;
}

.session-info-label {
    margin-bottom: 0px;
}

.session-add-registration {
    position: absolute;
    top: -5px;
    right: 0;
    width: 33%;
    display: flex;
}

.session-add-registration input {
    margin-right: 5px;
}

.session-user-search {
    width: 72%;
    display: inline-block;
}

.session-user-search-result {
    display: none;
    padding: 8px;
    background-color: #ECF0F5;
}

.session-user-search-result .table > thead > tr > th,
.session-user-search-result .table > tbody > tr > td {
    border: none;
}

.session-user-search-result table {
    margin-bottom: 0px;
}

.session-registrations {
    padding-right: 5px;
}

.session-registration-list-label {
    margin-bottom: 15px;
    display: inline-block;
}

.session-search-message {
    margin-bottom: 0px;
}

.btn-label {
    font-size: 75%;
    margin-right: 5px;
}

.btn-label .fa-times, .btn-label .fa-check, .btn-label .fa-plus {
    margin-right: 3px;
}

.error-message {
    color: #dd4b39;
    font-weight: bold;
}
