
@{
    ViewBag.Title = "Schedule";
}

@section Styles {
    <link href="~/App/Schedule/schedule.css" rel="stylesheet" />
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Lịch các lớp
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <!-- /.col -->
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-body no-padding">
                    <!-- THE CALENDAR -->
                    <div id="calendar">
                        <div class="calendar-control">
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <button id="prev" type="button" class="btn btn-light btn-calendar-navigate">&lt;</button>
                                <button id="next" type="button" class="btn btn-light btn-calendar-navigate">&gt;</button>
                            </div>
                            <div class="calendar-control-current-week"></div>
                        </div>
                        <table id="calendar" width="100%">
                            <thead id="calendarHead"></thead>
                            <tbody id="calendarBody"></tbody>
                        </table>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /. box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->

@section Scripts {
    @Scripts.Render("~/bundles/moment")
    <script src="~/App/Schedule/schedule.js"></script>
}

